body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: radial-gradient(farthest-side at top left, rgba(255, 255, 255, 0.2), #000), #000;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #canvas-holder {
  width: 950px;
  height: 250px;
}
.details{
  margin-top: 15px;
  display: flex;
  width: 950px;
  text-shadow: 0 0 10px #000;
}
.details #cover-canvas {
  height: 100px;
  width: 100px;
  box-shadow: 0 0 10px #000;
}
.details .song-details {
  margin: 0 15px;
  display: block;
  text-transform: uppercase;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
}
.details .song-details h1 {
  margin-top: 0;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 0px;
  font-weight: 800;
  color: #fff;
}
.details .song-details h2 {
  margin: 0;
  line-height: 1em;
  color: rgba(255,255,255,1);
  opacity: .9;
  font-weight: 400;
  letter-spacing: 1px;
}
.controls {
  display: flex;
  align-items: flex-start;
}
.controls button {
  background: none;
  border: none;
  color: rgba(255,255,255,1);
  opacity: .9;
  font-size: 48px;
  cursor: pointer;
}
.controls button:hover, .details .song-details h2:hover {
  opacity: 1;
}
.cssload-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	width: 100%;
	text-align: center;
}

.cssload-container span {
  color: #fff;
  font-size: 1rem;
}

.cssload-double-torus {
	width: 90px;
	height: 90px;
  margin: 0 auto;
  margin-bottom: 10px;
	border: 7px double;
	border-radius: 50%;
	border-color: transparent rgba(255,255,255,0.9) rgba(255,255,255,0.9);
	animation: cssload-spin 1s infinite linear;
		-o-animation: cssload-spin 1s infinite linear;
		-ms-animation: cssload-spin 1s infinite linear;
		-webkit-animation: cssload-spin 1s infinite linear;
		-moz-animation: cssload-spin 1s infinite linear;
}

@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}